<div class="employee-card" [style.backgroundColor]="colors.background" [style.color]="colors.text">
  <!-- Avatar -->
  <div class="employee-avatar">
    <img fill [ngSrc]="employeeProfileImage()" alt="Employee Avatar">
  </div>

  <!-- Employee Details -->
  <div class="employee-details">
    <h3 class="employee-name">{{ employee.firstName + " " + employee.lastName }}</h3>
  </div>

  <!-- Read More Button -->
  <a class="read-more-button" (click)="openEmployeeCard()" [style.backgroundColor]="colors.button" [style.color]="colors.text">
    Mehr Lesen </a>
</div>
