header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:50px;
}
.logo {
  text-decoration: none;
  font-family: "Just Me Again Down Here", serif;
  color: #333;
  font-size: 80px;
}
nav{
  display: flex;
  gap: 20px;
}
