<section>
  <img src="../../../assets/dummyimages/p_placeholder.jpg" />
  <div class="empoloyee">
    <h2>{{ employeeName() }}</h2>
    <div class="empoloyee-details">
      <p>Adresse: {{ employeeDescription() }}</p>
      <!-- dies sollte die Beschreibung sein, nicht die Adresse  -->
      <p>Qualifikationen: {{ employeeSkillset() }}</p>
      <p>Telefonnummer: {{ employeePhonenumber() }}</p>
    </div>
    <div class="employee-btn">
      <a class="btn edit-btn" (click)="openEditEmployee()" >
        Mitarbeiter bearbeiten
      </a>
      <a class="btn delete-btn" (click)="deleteEmployee()" id="delete-button">
        Mitarbeiter löschen
      </a>
    </div>
  </div>
</section>
