section {
    margin: 0 3rem;
    display: flex;
    justify-content: center;
}
section, .employee-btn{
    display: flex;
    gap: 50px;
}
img{
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}
.empoloyee{
    width: 100%;
}
.empoloyee-details{
    display: flex;
    flex-direction: column;
    gap:20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}
h2{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}

.employee-btn{
    margin-top: 50px ;
}

.btn{
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

.fav-btn{
    background-color: #46AE97 ;
}
.delete-btn{
    background-color: #f62d17;
}
.fav-btn:hover{
    background-color: #3c9683 ;
}
.delete-btn:hover{
    background-color: #e30707;
}

@media (max-width: 600px) {
    section,
    .employee-btn {
        flex-direction: column;
    }
}