
.skill-group{
  margin-bottom: 100px;
}
h2{
  font-family: "Just Me Again Down Here", serif;
  text-align: center;
  font-size: clamp(2.1875rem, 2.1053rem + 0.3509vw, 2.5rem); /* 35px-40px */
  margin: 20px;
}
.employee-list{
  padding-top: 50px;
  -bottom: 50px;
}
.employees-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  margin-top: 50px;
}


.employee-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 100px 20px;
  align-items: start;
  justify-content: start;
  margin: 0 auto;


}
.employee-card-instance {
  flex: 1 1 190px; 
  max-width: 200px;
}

h3 {
  font-family: "Roboto", serif;
  font-weight: bolder;
  font-size: 1.25rem;
  margin-bottom: 100px;
  text-decoration: underline;
}
app-search-bar-component{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 660px) {
  .skill-group{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
  }
  .employee-cards{
    justify-content: center;
    align-items: center;
    gap: 70px;
  }
  .employees-container{
    margin-top: 0;
  }
  h2{
    margin-bottom: 0;
}
 }