section{
  margin-top: 50px;
}
.skill-group{
  margin-bottom: 100px;
}
h2{
  font-family: "Just Me Again Down Here", serif;
  text-align: center;
  font-size: 40px;
}
.employee-list{
  padding-top: 50px;
  -bottom: 50px;
}
.employees-container {
  display: flex;
  flex-direction: column;
  margin: 25px;

  margin-top: 50px;
}

.skill-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.employee-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 100px 20px;
}

h3 {
  font-family: "Roboto", serif;
  font-weight: bolder;
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.employee-card-instance{
  max-width: 190px;
  max-height: 250px;
  height: 100%;
  height: auto;
  width: 100%;
}