.quote {
  font-family: "Just Me Again Down Here", serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 2rem 0;
}

.employees-container {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  transition: all 200ms ease-in-out;
}

.employee-card-instance {

}
