div {
    max-width: 180px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #B0DCFF;
    right: 10%;
    position: absolute;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
}
a {
    font-size: 20px;
    color: #4FADF9;
}
div:hover{
    background: #B0DCFF;
    
}
a:hover{
    color: #FFFFFF;
}
