a{
    max-width: 180px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #B0DCFF;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
}
a {
    font-size: 20px;
    color: #007bff;
}
a:hover{
    color: #FFFFFF;
    background-color: #007bff;
}
