<div class="new-employee-container">
  <form action="" class="new-employee">
    <table>
      <tr>
        <th>Name</th>
        <td><input type="text" name="name"></td>
      </tr>
      <tr>
        <th>Vorname</th>
        <td><input type="text" name="name"></td>
      </tr>
      <tr>
        <th>Straße</th>
        <td><input type="text" name="name"></td>
      </tr>
      <tr>
        <th>Postleitzahl</th>
        <td><input type="text" name="name"></td>
      </tr>
      <tr>
        <th>Rufnummer</th>
        <td><input type="tel" name="name"></td>
      </tr>
      <tr>
        <th>Qualifikation</th>
        <td><input type="text" name="name"></td>
      </tr>
      <tr>
        <th>Status</th>
        <td><input type="text" name="name"></td>
      </tr>
    </table>
    <button type="submit">Speichern</button>
  </form>
</div>
