<form action="">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
  </div>

  <div>
    <label for="vorname">Vorname</label>
    <input type="text" id="vorname" name="vorname" required>
  </div>

  <div>
    <label for="strasse">Straße</label>
    <input type="text" id="strasse" name="strasse" required>
  </div>

  <div>
    <label for="plz">Postleitzahl</label>
    <input type="text" id="plz" name="plz" required>
  </div>

  <div>
    <label for="rufnummer">Rufnummer</label>
    <input type="tel" id="rufnummer" name="rufnummer" required>
  </div>

  <div>
    <label for="qualifikation">Qualifikation</label>
    <input type="text" id="qualifikation" name="qualifikation" required>
  </div>

  <div>
    <label for="status">Status</label>
    <input type="text" id="status" name="status" required>
  </div>

  <button  type="submit">Speichern</button>
</form>
